<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
</head>
<body>

<h1>Add Student</h1>

<form action="/student/add" method="post">

ID:
<input type="text" name="id"><br>

Name:
<input type="text" name="name"><br>

Email:
<input type="text" name="email"><br>

<button type="submit">Add Student</button>

</form>

<a href="/">Home</a>

</body>
</html>
